<div id="intro">
  <div class="wrap">
<div class="story">
  <h3>大切なのは、道具の選びかた。</h3>
  <div class="ichi">
    <dl>
      <dt class="circle"><%= image_tag('fish1.png') %></dt>
      <dd><h4>もてない</h4>
        <p>釣り道具の管理ができないと、同じものや似たようなものばかりになりがち。釣れる魚も限られます。</p>
      </dd>
    </dl>
  </div>
  <div class="nino">
    <dl>
      <dt class="circle"><%= image_tag('fish2.png') %></dt>
      <dd><h4>もてる</h4>
        <p>biteで道具を管理すれば、バランスのよいタックルボックスに。幅広い状況に対応できます。</p>
      </dd>
    </dl>
</div>
  <div class="san">
    <dl>
      <dt class="circle"><%= image_tag('fish3.png') %></dt>
      <dd><h4>釣れる</h4>
        <p>釣れる可能性が格段に高まります。</p>
      </dd>
    </dl>
  </div>
</div><!-- //.story -->

<% unless signed_in? %>
<%= link_to "いますぐ登録する", signup_path, class: "regi btn_large btn_orange" %>
<% end %>
</div>
</div>


