<div id="intro">
  <div class="wrap">
<h2>つれるよ〜</h2>

<% unless signed_in? %>
<%= link_to "いますぐ登録する", signup_path, class: "regi btn_large btn_dark" %>
<% end %>
</div>
</div>
<div class="story">
  <h3>こんなサービス</h3>
  <div class="ichi">
    <dl>
      <dt><%= image_tag('fish1.png') %></dt>
      <dd><h4>同じのばっか</h4>
        <p>うにゃう</p>
      </dd>
    </dl>
  </div>
  <div class="nino">
    <dl>
      <dt><%= image_tag('fish2.png') %></dt>
      <dd><h4>バランスがとれる</h4>
        <p>あああ</p>
      </dd>
    </dl>


</div>
  <div class="san">
    <dl>
      <dt><%= image_tag('fish3.png') %></dt>
      <dd><h4>biteする</h4>
        <p>わーお</p>
      </dd>
    </dl>


  </div>
</div>

