<div id="intro">
<<<<<<< Updated upstream
<h1>biteへようこそ</h1>

<%= link_to "いますぐ登録する", '#', class: "btn_large" %>
</div>
=======
  <div class="inner">
<h2>つれるよ〜</h2>

<%= link_to "いますぐ登録する", '#', class: "regi btn_large" %>
</div>
</div>
>>>>>>> Stashed changes
