<div id="userpage">
  <div class="wrap">
  <div class="left">
    <div class="profile">
      <div class="username"><%= @user.name %>さん</div>
      <dl class="activity">
        <dt>登録アイテム数</dt>
        <dd>0個</dd>
      </dl>
     <%= @user.email %>
   </div>
    <div class="new_item btn_mid btn_dark">アイテムを登録する </div>
  </div>
  <div class="items">
      <h3>タックルボックス</h3>
        <ul>
          <li class="item"></li>
          <li class="item"></li>
          <li class="item"></li>
          <li class="item"></li>
          <li class="item"></li>
          <li class="item"></li>
          <li class="item"></li>
          <li class="item"></li>
          <li class="item"></li>
          <li class="item"></li>
          <li class="item"></li>
          <li class="item"></li>
          <li class="item"></li>
          <li class="item"></li>
          <li class="item"></li>
        </ul>
        <div class="pager">
        </div>
      </div><!-- //.items -->
    </div><!-- //.wrap -->
</div><!-- //#userpage -->