// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ----- ICONS ----- */
/* http://www.entypo.com/characters/ */
@font-face {
  font-family: EntypoIcon;
  src: url('/fonts/entypo/entypo.eot?') format('oldIE'),
  url('/fonts/entypo/entypo.ttf') format('truetype'),
  url('/fonts/entypo/entypo.woff') format('woff'),
  url('/fonts/entypo/entypo.svg') format('svg');
}
@font-face {
  font-family: EntypoSocialIcon;
  src: url('/fonts/entypo/entypo-social.eot?') format('oldIE'),
  url('/fonts/entypo/entypo-social.ttf') format('truetype'),
  url('/fonts/entypo/entypo-social.woff') format('woff'),
  url('/fonts/entypo/entypo-social.svg') format('svg');
}
i.icon {
  display: inline;
  font-family: EntypoIcon;
  font-size: 2.6em;
  font-style: normal;
  font-weight: normal !important;
  line-height: 0.1em;
  padding: 0;
  speak: none;
  text-decoration: none;
  vertical-align: -0.1em;
  -webkit-font-smoothing: antialiased;
}
i.disabled {
  color: #ccc;
}
