// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*basic*/
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #efefef;
}
p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
small {
  font-size: 100%;
}
a {
  text-decoration: none;
  color: #000;
  &:hover {
    color: #2cb071;
  }
}
h1, h2, h3,h4 {
  margin: 0;
  padding: 0;
}
h1 {}
h2 {}
h3 {
  /*border-bottom: 2px solid;
  padding-bottom: 3px;*/
  font-weight: bold;
  display: inline;
}
ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}
dt,dd {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/*header*/
header {
  width: 100%;
  position: relative;
}
header .wrap {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  height: 74px;
  padding-top: 10px;
}
header h1 {
  background: asset-url('logo_.png') 0 0 no-repeat;
  width: 180px;
  height: 68px;
}
header h1 a {
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
}
#menu {
  right: 0;
  top: 40px;
  text-align: right;
  position: absolute;
}
#menu .signin_box {
  width: 280px;
  padding: 10px;
  border: 5px solid #ccc;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background: #FFF;
}
#menu .signin_box input,label {
}
#menu .signin_box input {
}
#menu .signin_box label {
  margin-right: 10px;
}
#menu .signin_box th {
  text-align: right;
  font-size: 80%;
}
#menu nav {
}
#menu nav li {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
}
.signin_box input{
  position: relative;
  right: 0;
}

/*intro*/
#intro {
/*  background-image: asset-url('intro_bg.jpg');*/
background: #add5dd;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 430px;
  margin-top: 30px;
}
#intro h2 {
  font-weight: bold;
  color: #FFF;
  font-size: 180%;
/*  text-shadow:
1px 0px 0px rgba(0, 0, 0, 0.6),
-1px -1px 1px rgba(255, 255, 255, 0.5);*/
}
#intro .wrap {
  width: 980px;
  margin: 0 auto;
  padding: 50px 20px;
  position: relative;
}
#intro .regi {
  position: absolute;
  right: 40px;
  top: -36px;
  }
.story {
  overflow: hidden;
  width: 980px;
  margin: 0px auto;
}
.story img {
  margin: 0 auto;
}
.story h3 {
  display: block;
  font-size: 200%;
  font-weight: normal;
}
.story h4 {
  font-weight: normal;
  font-size: 180%;
  margin-top: 20px;

}
.circle {
   width: 240px;
   height: 240px;
   background: #2cb071;
   -moz-border-radius: 120px;
   -webkit-border-radius: 120px;
   border-radius: 120px;
   margin: 0 auto;
}
.ichi {
  width: 280px;
  height: 380px;
  float: left;
  margin-right: 40px;
  padding: 10px;
}
.ichi img {
  margin-top: 50px;
}
.nino {
  width: 280px;
  height: 380px;
  padding: 10px;
  float: left;
}
.nino img {
  margin-top: 30px;
}
 .san {
  width: 280px;
  height: 380px;
  padding: 10px;
  float: left;
  margin-left: 40px;
}
.san img {
  margin-top: 30px;
}
.story dt,dd {
  display: block;
}
.story dd {
  text-align: left;
}
.story dl {
  text-align: center;
}
.story dt {
  height: 240px;
  width: 240px;
  text-align: center;
}
.story p {
  font-size: 100%;
}

/*container*/
#container {
  width: 980px;
  margin: 0 auto;
}

/*top page*/
.items {
}
.items ul,li {}
.items li {
  background: #cccccc;
  width: 160px;
  height: 160px;
  display: inline-block;
}

/*footer*/
footer {
  width: 980px;
  margin: 40px auto 20px;
  text-align: center;
}

/*input*/
input {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #333;
  padding: 5px;
}
.btn_large {
  padding: 20px 30px;
  font-size: 130%;
  -moz-border-radius: 14px;
  -webkit-border-radius:  14px;
  border-radius: 14px;
}
.btn_mid {
  padding: 10px 20px;
  font-size: 120%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
.btn_small {
  padding: 3px 5px;
}
.btn_dark {
  background: #333;
  color: #FFF;
  &:hover {
    color: #FFF;
    opacity: 0.9;
  }
}
.btn_green {
  background: #2cb071;
  color: #ffffff;
  &:hover {
    color: #FFF;
    opacity: 0.8;
  }
}

/*userpage*/
#userpage {
  width: 980px;
  margin: 50px auto;
}
#userpage .wrap {
  overflow: hidden;
  zoom: 1;
}
#userpage .left {
  height: 100%;
  float: left;
  padding: 20px;
}
#userpage .left .profile {
  background: #eeeeee;
  padding: 20px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}
#userpage .profile .activity {
  font-size: 90%;
}
#userpage .profile .activity dd {
  display: inline-block;
}
#userpage .left span.name {
  font-weight: bold;
}
#userpage .new_item {
  margin: 30px auto;
  display: inline-block;
}
#userpage .items {
  width: 600px;
  float: right;
  padding: 20px;
/*  border: 3px solid #000;
  -webkit-border-radius: 6px;
          border-radius: 6px;*/
}
#userpage .items img {
  width: 140px;
  height: 140px;
  margin: 0;
}
#userpage .items dl {
  font-size: 80%;
}
#userpage .items dt {
  display: block;
}
#userpage .items dd {
  display: inline;
  border-bottom: 2px solid;
  padding-bottom: 2px;
  font-weight: bold;
  margin-bottom: 10px;
}
#userpage .items ul {
  margin-top: 20px;
}
#userpage .items li.item {
    margin: 0 8px 18px;
    position: relative;
    background: #FFF;
    /*border: 2px solid #ccc;*/
    -webkit-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
            box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    width: 160px;
    height: 220px;
    padding: 10px;
}
#userpage .itempack {
}
#userpage .pager {}

/*signup*/
#signup {
  width: 680px;
  margin: 80px auto;
  font-size: 120%;
}
#signup input {
  font-size: 100%;
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
#signup th {
  text-align: right;
  padding: 20px;
}
#signup td {
}
#signup tr {
  padding: 5px;
}

/*error*/
#error_explanation {
}
.alert {
  color: #890000;
    width: 600px;
  margin: 0 auto;
  margin-top: 100px;
}